.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-bottom: 0px;
    background-color: #BF360C;
    font-size: large;
}

.navbar-brand{
    font-size: x-large;
}